.shop {
}

.items {
  margin-bottom: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.btn {
  display: inline-block;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.checkout {
  color: black;
  composes: btn;
  composes: primary-bg from global;
}
