.shop {
}

.items {
  margin-bottom: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.btn {
  color: white;
  padding: 1rem;

  border-radius: 8px;
  border: none;
}

.checkout {
  composes: btn;
  composes: primary-bg from global;
  display: inline-block;
}
